__pycache__/
scratch.*

db_creds.yaml
local_creds.yaml
pdf_link.yaml
api_creds.yaml
s3_path.yaml
s3_path2.yaml

task_list.txt

uncleaned_data/
experimental_cleaning/

restore_uncleaned_data.py


*.ipynb